#include('./partial/header.html', {title: keyword })
<div class="main-content common-page clearfix">
    <div class="categorys-item">
        <div class="common-title bold-text">
            ${type}：${keyword}
        </div>archives
        #if(is_empty(articles))
        <div>
            <p>no result</p>
        </div>
        #else
        <div class="table-responsive">
            <table class="jh-table table table-striped" style="border-collapse: unset !important; border-spacing: 10px;">
                <tbody>
                <thead style="opacity: 0; border: 0 none; height: 0;">
                <tr>
                    <th style="min-width: 880px; max-width: 880px"></th>
                </tr>
                </thead>
                #for(article : articles(12).rows)
                <tr>
                    <td style="box-shadow: 0.5px 0.5px 3px;">
                        <div>
                            <div class="titreDoc"><a
                                    style="font-size: 17px; line-height: 17px; word-break: break-all; color: #313131"
                                    href="${permalink()}">${title()}</a>
                                <span class="post-tags" style="border: 0;">
                                ${show_categories()}
                            </span>
                                <span class="sizeDoc">${created('yyyy-MM-dd')}</span>
                            </div>
                            <p class="small apercuCode">${intro(2000)}</p>

                            <em class="pathDoc small"><a href="${linkGit()}" style="color: black; font-size: 10px !important;">${linkGit()}</a></em>
                        </div>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
        </div>
        #end
    </div>
</div>
#include('./partial/footer.html')